<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>wowo</h1>
    {% for member in Team_Meamber_list %} 
    <li><a href="{{ member.get_absolute_url }}">{{ member }}</a></li>
   Name:{{ member.members_name }} <br>   location:{{ member.members_role }} <br> category:{{ member.members_details }}  <br> Created:{{ member.members_phone_number }}
    {% endfor %}
</body>
</html>

  