<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="" method="POST"> {% csrf_token %}
            <p>Are you Sure You want to delete this  "{{ object }}"?? </p>
            
            <input type="submit" value="Confirm" class=" btn btn-warning">
             <a href="{{ object.get_absolute_url }}" class=" btn btn-default">Cancel</a>
      </form>
    </div>
</body>
</html>