{% extends 'Main/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
{% include "Main/navigation.html" %}

<div class="container"> 
    <div class="row">
<div class="col-sm-6 col-sm-offset-3">
    <h1>{{ title }}</h1>


{% if confirm_message %}

<div class="row">
        <div class="jumbotron">
          <p> {{ confirm_message }} </p>
        </div>
      </div>
{% endif %}


{% if form %}
<form action="" method="POST">{% csrf_token %}
    {{ form|crispy}}
    <input type="submit" value="SUBMIT" class="btn btn-primary">
</form>
{% endif %}
</div>
 </div>
  </div>  



 {% include "Main/footer.html" %}
{% endblock content %}