{% extends "Main/base.html" %}


{% block content %}
  {% include "Main/navigation.html" %}

				<!-- =============================================================================================== -->

			<!-- breadcrumb start -->
			<!-- ================ -->
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="#">Home</a></li>
						<li class="active">{{instance.title}}</li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container padding-bottom-clear">

				<div class="container">
					<div class="row">

					    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->


          <!-- Wrapper for slides -->
          <div class="carousel-inner">

            <div class="item active">
             {% if instance.image %}<img src="{{ instance.image.url }}" alt="Los Angeles" style="width:100%;">{% endif %}
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
                    {% if instance.image %}<img src="{{ instance.image_2.url }}" alt="Los Angeles" style="width:100%;">{% endif %}
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
                    {% if instance.image %}<img src="{{ instance.image_3.url }}" alt="Los Angeles" style="width:100%;">{% endif %}
              <div class="carousel-caption">

              </div>
            </div>

          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>


						<div class="pv-40">
							<!-- main start -->
							<!-- ================ -->
							<div class="main col-md-8">
								<h1 class="title">{{instance.title}}</h1>
								<div class="separator-2"></div>
								<p>{{instance.description}}.</p>
								<h3 class="title">Features.</h3>
								<ul class="list-icons">
									<li><i class="icon-check"></i> {{instance.features}}.</li>
								{% comment %}	<li><i class="icon-check"></i>  {{instance.features}}.</li>
									<li><i class="icon-check"></i> {{instance.features}}</li>
									<li><i class="icon-check"></i>  {{instance.features}}.</li>    {% endcomment %}
								</ul>


								<hr>

							</div>
							<!-- main end -->

							<!-- sidebar start -->
							<!-- ================ -->
							<aside class="col-md-4 col-lg-3 col-lg-offset-1">
								<div class="sidebar">
									<div class="block clearfix">
										<h3 class="title">Property Details</h3>
										<div class="separator-2"></div>
										<ul class="list margin-clear">
											<li><strong>Status: </strong> <span class="text-right">On Sale</span></li>
											<li><strong>Available Since <Since></Since>: </strong> <span class="text-right"> {{ instance.timestamp }} </span></li>
											<li><strong>Location: </strong> <span class="text-right">{{ instance.location_details }}</span></li>
											<li><strong>Price: </strong> <span class="text-right">KSHS:{{ instance.price }} </span></li>
											<li><strong>Size: </strong> <span class="text-right"><a href="#">{{ instance.size_of_land }}   Acres</a></span></li>
										</ul>

										{% if not request.user.is_staff or not request.user.is_superuser %}
										{% else %}
										<a href="{{instance.get_edit_url }}" class="btn btn-animated btn-default btn-sm">Edit <i class="fa fa-external-link"></i></a>
										<a href="{{instance.get_delete_url }}" class="btn btn-animated btn-danger btn-sm">Delete <i class="fa fa-external-link"></i></a>
										{% endif %}
									</div>


								</div>
							</aside>
							<!-- sidebar end -->
						</div>
					</div>
				</div>
			</section>
			<!-- main-container end -->




				<!-- =============================================================================================== -->

  

      {% include "Main/footer.html" %}

{% endblock content %}