<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>wowo</h1>
    {% for post in post_list %}
    <li><a href="{{ post.get_absolute_url }}">{{ post }}</a></li>
   Name:{{ post.title }} <br>   location:{{ post.location }} <br> category:{{ post.description }}  <br> Created:{{ post.timestamp }} <br>Updated:{{ post.updated }}
    {% endfor %}
</body>
</html>

  