<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div>

            <h1>DETAIL PAGExsd</h1>
            {{instance.title}} <br>
        
            {% comment %} {% if object.image %}<img src="{{ object.image.url }}" alt="">   {% endif %} {% endcomment %}
            {{ object.title }} <br>
        
            {{object.location}} <br>
           DEscription :: {{object.description}} <br>
            Size:{{object.size_of_land}} <br>
          Location::  {{object.location_details}} <br>
            {{object.timestamp}}

    </div>
<div> <a href="{% url   'Main:edit_post' slug=post.slug %}"><button type="button">edit</button></a></div>



<div>
<h2>COMMENTS HERE </h2>
{{ object.comment_set.all }}

</div>
</body>
</html>