<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  
    Name::{{instance.members_name}}    <br>
     {% if instance.members_image %}<img src="{{ instance.members_image.url }}" alt="">   {% endif %}  <br>

     members_phone_number::{{instance.members_phone_number}} <br>
     members_details::{{instance.members_details}} <br>
     members_email::{{instance.members_email}}  <br>

     <div>
        {% if not request.user.is_staff or not request.user.is_superuser %}
        <p>hi there yo cannot delete</p>
        {% else %}
        <div> <a href="{{instance.get_edit_url }}"><button type="button">edit</button></a> <br>
            <a href="{{instance.get_delete_url }}"><button type="button">Delete</button></a>
        </div>
     {% endif %}
     
     </div>
</body>
</html>